%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	//font-size: rem(23);
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-user:before {
	content: "\e900";
}
._icon-specialization:before {
	content: "\e901";
}
._icon-work-styles:before {
	content: "\e902";
}
._icon-person-04:before {
	content: "\e903";
}
._icon-price:before {
	content: "\e904";
}
._icon-notifications:before {
	content: "\e905";
}
._icon-date:before {
	content: "\e908";
}
._icon-country:before {
	content: "\e909";
}
._icon-phone:before {
	content: "\e90a";
}
._icon-city:before {
	content: "\e90b";
}
._icon-picture:before {
	content: "\e90c";
}
._icon-arrow-up:before {
	content: "\e90d";
}
._icon-arrow:before {
	content: "\e90e";
}
._icon-email:before {
	content: "\e90f";
}
._icon-select:before {
	content: "\e910";
}
._icon-question:before {
	content: "\e911";
}
._icon-plus:before {
	content: "\e912";
}
._icon-psw-view:before {
	content: "\e915";
	color: #b7bbb7;
	background-color: #fff;
	font-size: rem(20);
	margin-right: rem(16);
	//padding-left: rem(15);
	margin-left: rem(15);
}
._icon-psw-close:before {
	content: "\e916";
	color: #b7bbb7;
	background-color: #fff;
	font-size: rem(20);
	margin-right: rem(15);
	//padding-left: rem(15);
	margin-left: rem(15);
}
