// Заголовки, общие БЄМ блоки и проче...
// Заголовки, общие БЄМ блоки и проче...

//? Заголовки и тексты
.title {
	font-weight: 700;
	@include adaptiveValue("font-size", 40, 28);
	line-height: math.div(49, 40);
	color: $headerColor;
	text-align: center;
	&:not(:last-child) {
		//@include adaptiveValue("margin-bottom", 20, 10);
	}
}

.text {
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(24, 18);
	color: $headerColor;
	text-align: center;
	& span {
		color: $redColor;
		text-align: justify;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 20, 10);
	}
}

.title-home {
	font-weight: 300;
	font-size: rem(80);
	@include adaptiveValue("font-size", 80, 40);
	line-height: math.div(98, 80);
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.38);
}
//========================================================================================================================================================
//? Формы
form * {
	outline: none;
}
// Иконки с иконочным шрифтом
.icon {
	position: relative;
	font-family: "icons";
	padding: 10px;
	//background: #fff;
	color: #bbb7b7;
	text-align: center;
	font-size: rem(22);
	align-self: start;
	right: 0.2rem;
	top: 0.2rem;	
}

._icon-psw-view:before {
    content: "\e915";
    color: #b7bbb7;
    font-size: 1.25rem;
    padding: 0 rem(15);
}

.item {
	position: relative;
	display: flex;
	flex: 1 1 40.6%;
	height: rem(50);
	border-radius: rem(2);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	transition: all 0.5s ease 0s;
	&:not(:last-child) {
		margin-bottom: rem(28);
	}
	&_big {
		flex: 1 1 100%;
	}
	&__textarea {
		flex: 1 1 rem(1280);
	}
	&_average {
		flex: 0 0 rem(460);
	}
	&::after {
		position: absolute;
		content: "";
		bottom: rem(0);
		left: 0;
		height: rem(2);
		width: 100%;
		background: $headerColor;
		border-radius: 0 0 rem(2) rem(2);
	}
	&_gender {
	}
}

.input {
	min-height: rem(50);
	padding: rem(14) rem(20) rem(14) rem(20);
	width: 100%;
	font-size: rem(16);
	line-height: math.div(20, 16);
	color: $mainColor;
	//box-shadow: rem(1) rem(1) rem(1) rgba(0, 0, 0, 0.25);
	border-radius: rem(2);
	transition: all 0.5s ease 0s;
	&:hover {
		//border: 2px solid $redColor;
		box-shadow: rem(2) rem(2) rem(2) rgba(199, 42, 42, 0.6);
	}
	&:focus {
		color: #00020f;
		//border: 2px solid $redColor;
		box-shadow: rem(2) rem(2) rem(2) rgba(199, 42, 42, 0.6);
	}
}

.textarea {
	position: relative;
	width: 100%;
	resize: vertical;
	padding: rem(24) rem(20) rem(15) rem(20);
	font-size: rem(16);
	line-height: math.div(20, 16);
	color: $mainColor;
	background-color: #fff;
	box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
	border-radius: rem(2);
	min-height: rem(120);
	// transition: all 0.5s ease 0s;
	&:hover {
		border: 1px solid $redColor;
	}
	&.aicon {
	}
	&::after {
	}
}

.area {
	flex: 1 1 100%;
	position: relative;
	transition: all 0.5s ease 0s;
	&::after {
		position: absolute;
		content: "";
		bottom: rem(-1);
		left: 0;
		height: rem(2);
		width: 100%;
		background-color: $headerColor;
		border-radius: 0 0 rem(2) rem(2);
	}
}

// .aicon {
// 	position: absolute;
// 	display: flex;
// 	align-items: center;
// 	top: 0;
// 	bottom: 0;
// 	right: 0.5rem;
// 	color: #bdbdbd;
// 	transition: color 0.15s ease-in-out;
// 	&:hover {
// 		color: #212529;
// 	}
// 	&_big {
// 		align-items: start;
// 		width: 1.5rem;
// 		top: 1rem;
// 		right: 1rem;
// 	}
// 	&_for {
// 		right: 1.25rem;
// 		@media (max-width: rem(1200)) {
// 			right: 0.7rem;
// 		}
// 		@media (max-width: rem(1000)) {
// 			right: 0.5rem;
// 		}
// 		@media (max-width: $tablet) {
// 			right: 1.25rem;
// 		}
// 	}
// }

.form {
	&__error {
		position: absolute;
		left: 0;
		z-index: 2;
		//background-color: #fbffe3;
		//box-shadow: 0 0 15px red;
		bottom: rem(-20);
		left: rem(25);
		padding: rem(3) rem(5) rem(0) rem(5);
		color: $redColor;
		.item {
			margin-bottom: rem(40);
		}
		.area{
			margin-bottom: rem(40);
		}

	}
}

//====================================================================================================
//? Кнопки
.button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: rem(50);
	color: $mainColor;
	background-color: #ffffff;
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(20, 16);
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
	border-radius: rem(2);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
	//padding: 0 rem(15);
	&_big {
		max-width: rem(970);
		width: 100%;
	}
	&:active {
		top: rem(3);
		background-color: $redColor;
	}
	&_color {
		color: #ffffff;
		background-color: $redColor;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	}
	&:hover {
		background-color: #c72a2ac3;
		color: #ffffff;
	}
}

.button2 {
	margin-top: rem(20);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: #fff;
	color: $mainColor;
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(20, 16);
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	border-radius: rem(2);
	box-shadow: 0 rem(2) 0 $redColor;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
	&:hover {
		background-color: #c72a2a97;
		color: #ffffff;
	}
	&:active {
		top: rem(3);
		background-color: $redColor;
	}
}

.button3 {
	//width: rem(390);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: rem(50);
	background-color: #d4e5fa;
	color: $mainColor;
	font-size: rem(16);
	//@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(20, 16);
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	border-radius: rem(2);
	// box-shadow: 0 rem(2) 0 $redColor;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
	padding: rem(15);
	&:hover {
		background-color: #c72a2a97;
		color: #ffffff;
	}
	&:active {
		top: rem(3);
		background-color: $redColor;
		//box-shadow: 0 rem(5) 0 $redColor;
	}
}
//========================================================================================================================================================
//========================================================================================================================================================
//? Чекбоксы
.checkbox {
	position: relative;
	width: 100%;
	//margin-bottom: rem(20);
	// .checkbox__input
	&__input {		
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px $redColor;
		}
		&:checked + .checkbox__label:before {
			background: $redColor;
			//background: #BBB7B7;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;
			background: #bbb7b7; // закрасил квадрат
		}
	}
	// .checkbox__text
	&__text {
		font-size: rem(18);
		line-height: math.div(22, 18);
		color: #545454;
		& span {
			& span {
				color: $redColor;
			}
		}
	}
}

//========================================================================================================================================================

.select {
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		width: 100%;
		border-radius: 4px;
	}
	// .select__value
	&__value {
		display: flex;
		width: rem(460);
		// max-width: rem(460);
		//width: 100%;
		align-items: center;
		height: rem(30);
		padding: 0 rem(15);
		gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "";
			align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: #000;
		position: absolute;
		top: 29px;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		border-top: 0;
		padding: 10px 0px 5px 0px;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 5px 15px;
		color: inherit;
		&._select-selected {
			background-color: #eee;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

//========================================================================================================================================================

.select {
	position: relative;
}
.select__item {
	position: relative;
}
.select__title {
	color: #000;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
}
.select__value {
	display: flex;
	font-size: 16px;
	height: 50px;
	padding: 0px 20px;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}
.select__value span {
	height: 1em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.select__value::before {
	content: "";
	display: inline-block;
	transition: all 0.3s ease 0s;
	width: 11px;
	height: 7px;
	background: url("../img/select.svg") center / 100% no-repeat;
}
.select__options {
	color: #000;
	display: none;
	position: absolute;
	top: 49px;
	border-radius: 0 0 4px 4px;
	min-width: 100%;
	left: 0;
	background-color: #fff;
	border-top: 0;
	border: 1px solid #d9d9d9;
	border-top: 0;
	font-size: 16px;
	padding: 0px 0px 5px 0px;
}
.select__option {
	cursor: pointer;
	padding: 10px 20px;
	margin: 0px 0px 0px 0px;
}
.select._active {
	z-index: 5;
}
.select._active .select__value::before {
	transform: rotate(-180deg);
}
.select._active.select__options {
	display: block;
}
