// Заголовки, общие БЄМ блоки и проче...
// Заголовки, общие БЄМ блоки и проче...

//? Заголовки и тексты
.title-setting {
	font-weight: 700;
	@include adaptiveValue("font-size", 40, 28);
	line-height: math.div(49, 40);
	color: $headerColor;
	text-align: center;
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 20, 10);
	}	
}

.text-setting {
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(24, 18);
	color: $headerColor;
	text-align: center;
	& span {
		color: $redColor;
		text-align: justify;
	}
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 20, 10);
	}
}
//========================================================================================================================================================
//? Формы
*:focus {
	outline: none !important;
}

.item {
	display: flex;
	flex: 1 1 40.6%;
	background-color: #e7fecd; // убрать
	position: relative;
	border-radius: rem(2);
	&:not(:last-child) {
		margin-bottom: rem(20);
	}
	&_big {
		flex: 1 1 100%;
	}
	&_average {
		flex: 0 0 rem(460);
	}
	&::after {
		position: absolute;
		content: "";
		bottom: rem(0);
		left: 0;
		height: rem(2);
		width: 100%;
		background: $headerColor;
		border-radius: 2px;
	}
}

.input {
	min-height: 50px;
	padding: rem(14) rem(20) rem(14) rem(20);
	width: 100%;
	font-size: 16px;
	line-height: math.div(20, 16);
	color: $mainColor;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	transition: all 0.5s ease 0s;
	&:hover {
		border: 1px solid $redColor;
	}
}

.textarea {
	width: 100%;
	resize: vertical;
	padding: rem(15) rem(20);
	font-size: rem(16);
	line-height: math.div(20, 16);
	color: $mainColor;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	height: rem(120);
	&:hover {
		border: 1px solid $redColor;
	}
	&.aicon {
		align-items: start;
	}
}

.aicon {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	bottom: 0;
	right: 0.50rem;
	width: 2.25rem;
	//cursor: pointer;
	color: #bdbdbd;
	transition: color 0.15s ease-in-out;
	&:hover {
		color: #212529;
	}
	&_big {
		align-items: start;
		width: 1.5rem;
		top: 1.0rem;
		right: 1.0rem;		
	}
	&_for {
		right: 1.25rem;
		@media (max-width: rem(1200)){
			right: 0.7rem;  
		}
		@media (max-width: rem(1000)){
			right: 0.5rem;  
		}
		@media (max-width:$tablet){
			right: 1.25rem;
		}
	}
}

//====================================================================================================
//? Кнопки
.button {
	max-width: rem(460);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: rem(50);
	color: $mainColor;
	background-color: #ffffff;
	margin-top: rem(20);
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(20, 16);
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
	border-radius: rem(2);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
	padding: rem(15);
	&_big {
		max-width: rem(970);
	}
	&:active {
		top: rem(3);
	}
	&_color {
		color: #ffffff;
		background-color: $redColor;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	}
	&:hover {
		background-color: #c72a2a97;
		color: #ffffff;
	}
	@media (max-width:$tablet){
		margin-bottom: rem(30);
	}
}

//========================================================================================================================================================
//? Чекбоксы
.checkbox {
	position: relative;
	width: 100%;
	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;			
		&:focus + .checkbox__label:before {
			box-shadow: 0 0 5px $redColor;
		}
		&:checked + .checkbox__label:before {
			background: $redColor;
			//background: #BBB7B7;			
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		position: relative;
		gap: 10px;		
		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #a7a9ac;	
			background: #BBB7B7;	// закрасил квадрат	
		}
		
	}
	// .checkbox__text
	&__text {
		font-size: rem(18);
		line-height: math.div(22, 18);
		color: #545454;
		& span {
			& span {
				color: $redColor;
			}
		}
	}
}

//========================================================================================================================================================

