//====================================================================================================
.page {
	background: url("@img/repeat.jpg");
}
// ? master
.home {
	padding: rem(160) rem(15) rem(0) rem(15);
	@media (max-width: $tablet) {
		padding-top: rem(120);
	}
	@media (max-width: $mobile) {
		padding-top: rem(190);
	}
	@media (max-width: $mobileSmall) {
		padding-top: rem(220);
	}
	// .master__body
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: rem(40);
		@media (max-width: $tablet) {
			display: block;
		}
		&:not(:last-child) {
			margin-bottom: rem(132);
		}
		@media (max-width: rem(1200)) {
			&:not(:last-child) {
				margin-bottom: rem(50);
			}
		}
	}
	// .master__start
	&__start {
		flex: 0 0 100%;
		max-width: rem(1725);
		width: 100%;
	}
	// .home__styles
	&__styles {
		flex: 0 0 100%;
		max-width: rem(1725);
		width: 100%;
	}
}

//==+++++++++++++++++++++++++++++++++++
//========================================================================================================================================================
// ? Старт секции home__styles  styles-home
.styles-home {
	background: url("@img/repeat.jpg");
	//background: #bed5df;
	padding: rem(67) rem(0) rem(55) rem(0);
	@include adaptiveValue("padding-top", 67, 30);
	@include adaptiveValue("padding-bottom", 55, 25);
	margin: 0 auto;
	// .styles-home__box
	&__box {
	}
	// .styles-home__content
	&__content {
	}
	// .styles-home__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .styles-home__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-20);
		//row-gap: rem(40);
		@include adaptiveValue("row-gap", 40, 15);
		@media (max-width: $tablet) {
			//display: block;
		}
		@media (max-width: $mobile) {
			//display: block;
		}
	}
	// .styles-home__column
	&__column {
		display: flex;
		flex: 0 1 33.333%;
		padding: 0 rem(20);
		@include adaptiveValue("gap", 40, 10);
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 100%;
		}
		//flex-wrap: wrap;
	}
	// .styles-home__card
	&__card {
		//height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	// .styles-home__button
	&__button {
		max-width: rem(400);
		border-radius: rem(6);
		margin: 0 auto;
		margin-top: rem(30);
	}
}

//==**********************************
.card-styles {
	&__row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-between;
		// border-radius: rem(50);
		// overflow: hidden;
	}
	// .card-styles__column
	&__column {
		overflow: hidden;
		// .card-styles__column_1
		&_1 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: rem(50) 0 0 rem(50);
	}
		// .card-styles__column_2
		&_2 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: 0 rem(50) rem(50) 0;
		}
		// .card-styles__column_3
		&_3 {
		}
		// .card-styles__column_4
		&_4 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: rem(50) 0 0 0;
		}
		// .card-styles__column_4
		&_5 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: 0 rem(50) 0 0;
			overflow: hidden;
		}
		&_6 {
			flex: 0 1 100%;
			border-radius: 0 0 rem(50) rem(50);
		}
	}
	// .card-styles__image
	&__image-ibg {
		//@include adaptiveValue("margin-bottom", 30, 10);
		position: relative;
		//margin-bottom: rem(6);
		img {
			max-width: 100%;
			@media (max-width: $mobile) {
				//margin: 0 0 rem(30) 0;
			}
		}
		// .card-styles__image_1
		&_1 {
			padding: rem(0) rem(0) 60.57% rem(0);
			margin-bottom: rem(6);
		}
		&_2 {
			padding: rem(0) rem(0) 60.57% rem(0);
		}
		&_3 {
			padding: rem(0) rem(0) 123.41% rem(0);
		}
		&_4 {
			padding: rem(0) rem(0) 29.91% rem(0);
		}
	}
	// .card-styles__text
	&__text {
		//display: flex;
		font-weight: 700;
		//font-size: rem(32);
		@include adaptiveValue("font-size", 32, 15);
		line-height: math.div(39, 32);
		color: $mainColor;
		@include adaptiveValue("margin-top", 20, 5);
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
	}
}

// ? Финиш секции home__styles  styles-home
//========================================================================================================================================================
// ? Старт секции home__start start-home
.home {
	background: url("@img/repeat.jpg");
	// .home__start
	&__start {
	}
	// .home__registration
	&__registration {
	}
}

.start-home {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(40) rem(15);
	margin: 0 auto;
	@media (max-width: $tablet) {
		display: block;
		padding: rem(30) rem(0);
	}
	// .start-home__picture
	&__picture {
		flex: 0 1 44.46%;
	}
	// ..start-home__registration
	&__registration {
		flex: 0 1 41.33%;
	}
}

.picture {
	display: flex;
	// .picture__image-ibg
	&__image-ibg {
		position: relative;
		min-height: 150px;
		width: 100%;
		padding: rem(0) rem(0) 68.84% rem(0);
		overflow: hidden;
		margin: 0 auto;
		.horizontal-gradient {
			background: linear-gradient(to right, blue, pink);
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			background-image: linear-gradient(to top, #00020f, #634e92);
			opacity: 0.5;
		}
	}
	// .picture__text
	&__text {
		display: inline-block;
		font-weight: 700;
		text-align: justify;
		color: #fff;
		position: absolute;
		max-width: rem(335);
		width: 100%;
		left: 6.51%;
		top: 6.51%;
	}
	// .picture__title
	&__title {
		font-size: rem(40);
		@include adaptiveValue("font-size", 40, 20);
		line-height: math.div(49, 40);
		@include adaptiveValue("margin-bottom", 38, 10);
	}
	// .picture__items
	&__items {
	}
	// .picture__item
	&__item {
		margin-left: 9.1%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 5);
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(15);
		}
	}
	// .picture__numbers
	&__numbers {
		line-height: math.div(61, 50);
		@include adaptiveValue("font-size", 50, 20);
	}
	// .picture__comment
	&__comment {
		font-weight: 300;
		font-size: rem(14);
		line-height: math.div(17, 14);
	}
}

.registration-home {
	// .registration-home__content
	&__content {
		background: url("@img/repeat-form.jpg");
		border-radius: rem(25);
		filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
	}
	// .registration-home__box
	&__box {
		max-width: rem(460);
		padding: rem(15);
		margin: 0 auto;
		@include adaptiveValue("padding-top", 100, 10);
		@include adaptiveValue("padding-bottom", 100, 10);
		@media (max-width: $tablet) {
			max-width: rem(800);
			width: 100%;
			margin-top: rem(25);
		}
	}
	// .registration-home__title
	&__title {
		font-weight: 500;
		font-size: rem(25);
		line-height: math.div(30, 25);
		color: $mainColor;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}

.form-portfolio {
	display: flex;
	flex-direction: column;
	// .form-portfolio__input
	&__input {
	}
	// .form-portfolio__info
	&__info {
		&:not(:last-child) {
			margin-bottom: rem(28);
		}
	}
	// .form-portfolio__buttons
	&__buttons {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		@media (max-width: $mobileSmall) {
			display: block;
		}
	}
	// .form-portfolio__button
	&__button {
		//max-width: rem(220);
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(10);
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
	// .form-portfolio__item
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(25);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(25);
		}
	}
	// .form-portfolio__aicon
	&__aicon {
	}
	// .form-portfolio__icon
	&__icon {
	}
	// .form-portfolio__location
	&__location {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			display: block;
		}
	}
	// .form-portfolio__label
	&__label {
	}
	// .form-portfolio__viewpass
	&__viewpass {
	}
	// .form-portfolio__checkbox
	&__checkbox {
		//margin-top: rem(25);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .form-portfolio__button-footer
	&__button-footer {
		width: 100%;
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(10);
	}
}

//======================================================================================================================================================

//====================================================================================================
