//====================================================================================================
.page {
	//background: url("@img/noise.jpg");
}
// ? master
.home {
	background: url("@img/noise.jpg");
	padding-top: rem(80);
	@media (max-width: $tablet) {
		padding-top: rem(80);
	}
	@media (max-width: $mobile) {
		padding-top: rem(155);
	}
	@media (max-width: $mobileSmall) {
		padding-top: rem(190);
	}
	// .master__body
	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: rem(40);
		@media (max-width: $tablet) {
			display: block;
		}
		&:not(:last-child) {
			margin-bottom: rem(132);
		}
		@media (max-width: rem(1200)) {
			&:not(:last-child) {
				margin-bottom: rem(50);
			}
		}
	}
	// .home__contact
	&__contact {
	}
	// .home__attention
	&__attention {
	}
	// .master__start
	&__start {
		// flex: 0 0 100%;
		// max-width: rem(1720);
		// width: 100%;
	}
	// .home__styles
	&__styles {
		// flex: 0 0 100%;
		// max-width: rem(1720);
		// width: 100%;
		//background: url('@img/wnoise.jpg');
	}
	// .home__start
	&__start {
	}
	// .home__registration
	&__registration {
	}
}

//========================================================================================================================================================
.contact {
	//background: url("@img/noise.jpg");
	// .contact__container
	&__container {
	}
	// .contact__row
	&__row {
		display: flex;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	// .contact__registration
	&__registration {
		flex: 0 1 50%;
		position: relative;
		z-index: 2;
		padding-top: rem(40);
		padding-bottom: rem(42);
		// &::after {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100vw;
		// 	height: 100%;
		// 	top: 0;
		// 	left: rem(865);
		// 	transform: translate(-100%, 0px);
		// 	//background: url("@img/noise.jpg");
		// 	//background: #37142f;
		// 	z-index: -1;
		// 	@media (max-width: $tablet) {
		// 		background: none;
		// 	}
		// }
		&:hover::after {
			// left: rem(1650);
		}
		&:hover ~ .contact__column-find::after {
			right: rem(20);
		}
		&:hover ~ .contact__column-find .find-contact__box {
			opacity: 0;
		}

		// @media (max-width: rem(1900)) {
		// 	// flex: 0 1 100%;
		// 	// width: 100vw;
		// 	// left: rem(0);
		// 	// //background: url("@img/noise.jpg");
		// 	// margin: 0 auto;
		// }
		// @media (max-width: $mobile) {
		// 	// flex: 0 1 100%;
		// 	// max-width: 100%;
		// 	//padding: rem(0) rem(35);
		// 	// background: url("@img/noise.jpg");
		// }
	}
	// .contact__column-find
	&__column-find {
		flex: 0 1 50%;
		position: relative;
		z-index: 2;
		padding-top: rem(40);
		padding-bottom: rem(42);
		// opacity: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100vw;
			height: 100%;
			top: 0;
			right: 100.5%; 
			transform: translate(100%, 0px);
			background: url("@img/wnoise.jpg");
			z-index: -1;
		}
		&:hover::after {
			right: 197%;
		}
		// @media (max-width: rem(1900)) {
		// 	flex: 0 1 100%;
		// 	max-width: 100%;
		// }
	}
}

.registration-contact {
	// .registration-contact__content
	&__content {
	}
	// .registration-contact__box
	&__box {
		max-width: rem(460);
		padding: 0 rem(15);
		margin: 0 auto;
		text-align: center;
		color: #fff;
	}
	// .registration-contact__title
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 48, 26);
		line-height: math.div(59, 48);
		text-align: center;
		text-decoration-line: underline;
		text-transform: uppercase;
		margin-bottom: rem(5);
	}
	// .registration-contact__subtitle
	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size", 28, 20);
		line-height: math.div(34, 28);
		text-align: center;
		span {
			color: $redColor;
		}
		margin-bottom: rem(30);
	}
	// .registration-contact__text
	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 25, 16);
		line-height: math.div(30, 25);
		margin-bottom: rem(20);
	}
}

//=*******************************************************
// .registration-contact {
// 	// .registration-contact__content
// 	&__content {
// 		background: url("@img/repeat-form.jpg");
// 		border-radius: rem(25);
// 		filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
// 	}
// 	// .registration-contact__box
// 	&__box {
// 		max-width: rem(460);
// 		padding: rem(15);
// 		margin: 0 auto;
// 		@include adaptiveValue("padding-top", 100, 10);
// 		@include adaptiveValue("padding-bottom", 100, 10);
// 		@media (max-width: $tablet) {
// 			max-width: rem(800);
// 			width: 100%;
// 			margin-top: rem(25);
// 		}
// 	}
// 	// .registration-contact__title
// 	&__title {
// 		font-weight: 500;
// 		font-size: rem(25);
// 		line-height: math.div(30, 25);
// 		color: $mainColor;
// 		text-align: center;
// 		&:not(:last-child) {
// 			margin-bottom: rem(20);
// 		}
// 	}
// }

.form-contacts {
	display: flex;
	flex-direction: column;
	// .form-contacts__input
	&__input {
	}
	// .form-contacts__info
	&__info {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .form-contacts__buttons
	&__buttons {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		@media (max-width: $mobileSmall) {
			display: block;
		}
	}
	// .form-contacts__button
	&__button {
		//max-width: rem(220);
		width: 100%;
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(2);
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
	// .form-contacts__item
	&__item {
		background: #fff;
		&:not(:last-child) {
			margin-bottom: rem(25);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(25);
		}
	}
	// .form-contacts__aicon
	&__aicon {
	}
	// .form-contacts__icon
	&__icon {
	}
	// .form-contacts__location
	&__location {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			display: block;
		}
	}
	// .form-contacts__label
	&__label {
	}
	// .form-contacts__viewpass
	&__viewpass {
		background: #fff;
	}
	// .form-contacts__checkbox
	&__checkbox {
		text-align: start;
		margin-bottom: rem(20);
	}
	// .form-contacts__button-footer
	&__button-footer {
		width: 100%;
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(2);
	}
}

.checkbox {
	// .checkbox__input
	&__input {
	}
	// .checkbox__label
	&__label {
	}
	// .checkbox__text
	&__text {
		font-size: rem(15);
		@include adaptiveValue("font-size", 15, 12);
		line-height: math.div(18, 15);
		color: #d6d6d6;
	}
}

//=++++++++++++++++++++++++++++
.find-contact {
	// .find-contact__content
	&__content {
	}
	// .find-contact__box
	&__box {
		max-width: rem(460);
		padding: 0 rem(15);
		margin: 0 auto;
		text-align: center;
		color: $mainColor;
	}
	// .find-contact__title
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 48, 26);
		line-height: math.div(59, 48);
		text-align: center;
		text-decoration-line: underline;
		text-transform: uppercase;
		margin-bottom: rem(5);
	}
	// .find-contact__subtitle
	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size", 28, 20);
		line-height: math.div(34, 28);
		color: $redColor;
		@include adaptiveValue("margin-bottom", 150, 30);
	}
	// .find-contact__text
	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 29, 20);
		line-height: math.div(35, 29);
		margin-bottom: rem(20);
	}
	// .find-contact__item
	&__item {
		background: #fff;
	}
	// .find-contact__input
	&__input {
	}
	// .find-contact__aicon
	&__aicon {
	}
	// .find-contact__icon
	&__icon {
	}
}

//===================================================================
// ? Старт секции home__attention
.attention {
	// background: url("@img/noise.jpg");
	padding-top: rem(40);
	padding-bottom: rem(50);
	// .attention__container
	&__container {
	}
	// .attention__content
	&__content {
	}
	// .attention__title
	&__title {
		font-weight: 300;
		@include adaptiveValue("font-size", 80, 44);
		line-height: math.div(98, 80);
		color: rgba(255, 255, 255, 0.3);
		margin-bottom: rem(37);
	}
	// .attention__works
	&__works {
	}
	// .attention__service
	&__service {
	}
	// .attention__advertising
	&__advertising {
	}
}

.works {
	// .works__box
	&__box {
	}
	// .works__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("gap", 44, 20);
		@media (max-width: rem(1750)) {
			flex-direction: column-reverse;
		}
	}
	// .works__col
	&__col {
		position: relative;
		flex: 0 0 74.07%;
	}
	// .works__aside
	&__aside {
		display: flex;
		position: relative;
		flex: 0 0 23.26%;
		@media (max-width: rem(1750)) {
			flex: 0 0 100%;
		}
	}
}

.col-article {
	// .col-article__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: rem(40);
		justify-content: space-between;
		@media (max-width: rem(1750)) {
			justify-content: center;
		}
	}
	// .col-article__col
	&__col {
		flex: 0 1 33.3333%;
		max-width: rem(398);
		display: flex;
		justify-content: center;
		// background: url("@img/rnoise.jpg");
	}
}

.swiper {
	box-sizing: border-box;
	border-radius: 25px;
	overflow: hidden;
	// .swiper__image
	&__image {
	}
}

.col-card {
	border: 1px solid #000000;
	filter: drop-shadow(2px 2px 10px rgba(199, 42, 42, 0.25));
	// .col-card__header-swiper
	&__header-swiper {
		position: relative;
		//display:none;
	}
	// .col-card__wrapper
	&__wrapper {
	}
	// .col-card__slide
	&__slide {
		display: flex;
		max-width: rem(398);
		height: rem(411);
		@media (max-width:$mobileSmall){
			//max-width: rem(270);  
		}
		img {
			max-width: rem(398);
			height: rem(411);
			object-fit: cover;
			// @media (max-width:$mobileSmall){
			// 	max-width: rem(270);  
			// }
		}
	}
	&__button {
		position: absolute;
		top: 25%;
		&_left {
			left: 0;
		}
		&_right {
			right: 0;
		}
	}
}

.col-card {
	color: #fff;
	background: #000;
	border-radius: rem(25);
	// col-card__header-swiper
	&__header-swiper {
		border-radius: rem(25) rem(25) 0 0;
		object-fit: cover;
		max-height: rem(220); //высота слайдера
	}

	// .col-card__content
	&__content {
		display: flex;
		flex-direction: column;
		max-width: rem(398);
		width: 100%;
		text-align: center;
		position: relative;
	}

	// .col-card__image
	&__image {
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, 50%);
		border-radius: 50%;
		border: rem(5) solid $mainColor;
		overflow: hidden;
		object-fit: cover;
		align-items: center;
		justify-content: center;
		img {
			z-index: 5;
			width: rem(120);
			height: rem(120);
		}
	}
	// .col-card__header
	&__header {
		display: flex;
		max-width: rem(332);
		width: 100%;
		justify-content: space-between;
		margin: 0 auto;
		gap: rem(170);
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .col-card__text
	&__text {
		line-height: math.div(17, 14);
		margin-bottom: rem(12);
		margin-top: rem(15);
		span {
			font-weight: 700;
		}
	}
	// .col-card__name
	&__name {
		text-align: center;
		font-weight: 900;
		font-size: rem(20);
		line-height: math.div(24, 20);
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .col-card__about
	&__about {
		flex: 1 1 auto;
		max-width: rem(332);
		margin: 0 auto;
		text-align: center;
		font-size: rem(14);
		line-height: math.div(17, 14);
		span {
			font-weight: 700;
		}
		margin-bottom: rem(10);
	}
	// .col-card__footer
	&__footer {
		display: flex;
		margin: 0 auto;
		max-width: rem(334);
		align-items: center;
		margin-bottom: rem(20);
	}
	// .col-card__price
	&__price {
		font-size: rem(14);
		line-height: math.div(17, 14);
		span {
			font-weight: 700;
		}
	}
	// .col-card__icon-like
	&__icon-like {
		width: rem(24);
		height: rem(24);
		margin-right: rem(27);
		@include adaptiveValue("margin-left", 75, 25);
	}
	// .col-card__styles-list
	&__styles-list {
		display: flex;
		height: rem(24);
		align-items: center;
	}
	// .col-card__style
	&__style {
		display: flex;
		width: rem(35);
		height: rem(35);
		margin-left: rem(-10);
		align-items: center;
		justify-content: center;
		background-color: $mainColor;
		box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(50);
		transition: background-color 0.5s ease;
		z-index: 2;
		img {
			width: rem(16);
			height: rem(16);
		}
		&:hover {
			background-color: $redColor;
			z-index: 2;
		}
		// .body-card__style_1
		&_1 {
			margin-left: 0;
		}
	}
	// .col-card__amount
	&__amount {
	}
}

// ==++++++++++++++++++++++++++++
.aside {
	color: #fff;
	height: auto;
	// .aside__content
	&__content {
		max-width: rem(400);
		@media (max-width: rem(1750)) {
			max-width: 80%;
			margin: 0 auto;
		}
	}
	// .aside__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 36, 24);
		line-height: math.div(44, 36);
		text-transform: uppercase;
		span {
			color: $redColor;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 25, 15);
		}
	}
	// .aside__text
	&__text {
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
		& p:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 10);
		}
	}
	// .aside__button
	&__button {
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(6);
		@include adaptiveValue("margin-top", 25, 15);
	}
}
// ? Финиш секции attention__works works
//========================================================================================================================================================
// ? Старт секции attention__service
.service {
	color: #ffffff;
	// .service__box
	&__box {
		padding-top: rem(49);
		padding-bottom: rem(49);
	}
	// .service__row
	&__row {
		display: flex;
		margin: 0 rem(-30);
		margin: 0 auto;
		justify-content: center;
		@include adaptiveValue("gap", 38, 20);
		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}
	// .service__column
	&__column {
		position: relative;
		flex: 0 1 33.3333%;
		flex-direction: column;
		height: 100%;
		padding: 0 rem(30);
		text-align: center;
		@include adaptiveValue("padding-top", 70, 30);
		@include adaptiveValue("padding-bottom", 45, 20);
		max-width: rem(532);
		border-radius: rem(25);
		transition: background 0.3s ease;
		background: url("@img/rnoise.jpg");
		filter: drop-shadow(4px 4px 4px rgba(112, 0, 0, 0.34));
		&:hover {
			background: url("@img/rnoise-hover.jpg");
			object-fit: cover;
		}
		@media (max-width: $tablet) {
			flex: 0 1 50%;
			width: 100%;
			padding-top: rem(25);
			padding-bottom: rem(25);			
			object-fit: cover;
		}
	}
	// .service__title
	&__subtitle {
		font-weight: 700;
		font-size: rem(36);
		@include adaptiveValue("font-size", 36, 20);
		line-height: math.div(44, 36);
		text-transform: uppercase;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	// .service__text
	&__text {
		font-weight: 500;
		font-size: rem(20);
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(24, 20);
		text-transform: uppercase;
	}
}

// ? Финиш секции attention__service
//===================================================================
// ? Старт секции attention__advertising
.advertising {
	@include adaptiveValue("padding-top", 25, 0);
	background: #545454;
	background: linear-gradient(to right, #545454 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#ffffff',GradientType=1 );
	//border-radius: rem(100);
	@include adaptiveValue("border-radius", 100, 30);
	z-index: 5;
	// .advertising__box
	&__box {
		@include adaptiveValue("padding-top", 70, 30);
		@include adaptiveValue("padding-bottom", 75, 30);
		padding-left: rem(15);
		padding-right: rem(15);
		max-width: rem(1557);
		margin: 0 auto;
	}
	// .advertising__title
	&__title {
		font-weight: 700;
		font-size: rem(48);
		@include adaptiveValue("font-size", 48, 22);
		line-height: math.div(59, 48);
		text-transform: uppercase;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 68, 10);
		}
	}
	// .advertising__content
	&__content {
		display: flex;
		gap: rem(20);
		align-items: center;
		@media (max-width: $tablet) {
			display: block;
		}
	}
	// .advertising__column
	&__column {
		flex: 0 1 50%;
	}
	// .advertising__list
	&__list {
		flex: 0 1 50%;
		@media (max-width: $tablet) {
			margin-top: rem(20);
		}
	}
	// .advertising__sentence
	&__sentence {
		max-width: rem(694);
		margin: 0 auto;
		color: $mainColor;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 20);
		}
	}
	// .advertising__subtitle
	&__subtitle {
		font-weight: 700;
		@include adaptiveValue("font-size", 32, 20);
		line-height: math.div(39, 32);
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .advertising__text
	&__text {
		display: flex;
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(24, 20);
	}
}

// ? Финиш секции attention__advertising
//========================================================================================================================================================
// ? Старт секции home__styles  styles-home
.styles-home {
	background: url("@img/wnoise.jpg");
	//background: #bed5df;
	padding: rem(67) rem(0) rem(55) rem(0);
	@include adaptiveValue("padding-top", 67, 30);
	@include adaptiveValue("padding-bottom", 55, 25);
	margin: 0 auto;
	// .styles-home__box
	&__container {
	}
	// .styles-home__content
	&__content {
	}
	// .styles-home__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .styles-home__row
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 rem(-20);
		//row-gap: rem(40);
		@include adaptiveValue("row-gap", 40, 15);
	}
	// .styles-home__column
	&__column {
		display: flex;
		flex: 0 1 33.333%;
		padding: 0 rem(20);
		@include adaptiveValue("gap", 40, 10);
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: $mobile) {
			flex: 0 1 100%;
		}
		//flex-wrap: wrap;
	}
	// .styles-home__card
	&__card {
		//height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	// .styles-home__button
	&__button {
		max-width: rem(400);
		border-radius: rem(6);
		margin: 0 auto;
		margin-top: rem(30);
	}
}

//==**********************************
.card-styles {
	&__row {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-between;
		// border-radius: rem(50);
		// overflow: hidden;
	}
	// .card-styles__column
	&__column {
		overflow: hidden;
		// .card-styles__column_1
		&_1 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: rem(50) 0 0 rem(50);
		}
		// .card-styles__column_2
		&_2 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: 0 rem(50) rem(50) 0;
		}
		// .card-styles__column_3
		&_3 {
		}
		// .card-styles__column_4
		&_4 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: rem(50) 0 0 0;
		}
		// .card-styles__column_4
		&_5 {
			flex: 0 1 math.div(270, 547) * 100%;
			border-radius: 0 rem(50) 0 0;
			overflow: hidden;
		}
		&_6 {
			flex: 0 1 100%;
			border-radius: 0 0 rem(50) rem(50);
		}
	}
	// .card-styles__image
	&__image-ibg {
		//@include adaptiveValue("margin-bottom", 30, 10);
		position: relative;
		//margin-bottom: rem(6);
		img {
			max-width: 100%;
			@media (max-width: $mobile) {
				//margin: 0 0 rem(30) 0;
			}
		}
		// .card-styles__image_1
		&_1 {
			padding: rem(0) rem(0) 60.57% rem(0);
			margin-bottom: rem(6);
		}
		&_2 {
			padding: rem(0) rem(0) 60.57% rem(0);
		}
		&_3 {
			padding: rem(0) rem(0) 123.41% rem(0);
		}
		&_4 {
			padding: rem(0) rem(0) 29.91% rem(0);
		}
	}
	// .card-styles__text
	&__text {
		//display: flex;
		font-weight: 700;
		//font-size: rem(32);
		@include adaptiveValue("font-size", 32, 15);
		line-height: math.div(39, 32);
		color: $mainColor;
		@include adaptiveValue("margin-top", 20, 5);
		@media (max-width: $mobile) {
			font-size: rem(20);
		}
	}
}

// ? Финиш секции home__styles  styles-home
//========================================================================================================================================================
// ? Старт секции home__start start-home
.start-home {
	background: url("@img/wnoise.jpg");
	padding: rem(40) rem(15);
	margin: 0 auto;
	&__box {
		display: flex;
		flex-basis: 0.86%;
		max-width: rem(1480);
		align-items: center;
		@media (max-width: $tablet) {
			display: block;
		}
	}
	// .start-home__picture
	&__picture {
		flex: 0 1 51.82%;
		max-width: rem(767);
		margin: 0 auto;
	}
	// ..start-home__registration
	&__registration {
		flex: 0 1 48.18%;
		max-width: rem(713);
		margin: 0 auto;
	}
}

.picture {
	display: flex;
	// .picture__image-ibg
	&__image-ibg {
		padding: rem(0) rem(0) 68.84% rem(0);
		overflow: hidden;
		margin: 0 auto;
		.horizontal-gradient {
			background: linear-gradient(to right, blue, pink);
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			background-image: linear-gradient(to top, #00020f, #634e92);
			opacity: 0.5;
		}
	}
	// .picture__text
	&__text {
		display: inline-block;
		font-weight: 700;
		text-align: justify;
		color: #fff;
		position: absolute;
		max-width: rem(335);
		width: 100%;
		left: 6.51%;
		top: 6.51%;
	}
	// .picture__title
	&__title {
		font-size: rem(40);
		@include adaptiveValue("font-size", 40, 20);
		line-height: math.div(49, 40);
		@include adaptiveValue("margin-bottom", 38, 10);
	}
	// .picture__items
	&__items {
	}
	// .picture__item
	&__item {
		margin-left: 9.1%;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 5);
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(15);
		}
	}
	// .picture__numbers
	&__numbers {
		line-height: math.div(61, 50);
		@include adaptiveValue("font-size", 50, 20);
	}
	// .picture__comment
	&__comment {
		font-weight: 300;
		font-size: rem(14);
		line-height: math.div(17, 14);
	}
}

.registration-home {
	// .registration-home__content
	&__content {
		background: url("@img/wnoise.jpg");
		border-radius: rem(25);
		filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
	}
	// .registration-home__box
	&__box {
		max-width: rem(460);
		padding: rem(15);
		margin: 0 auto;
		@include adaptiveValue("padding-top", 100, 10);
		@include adaptiveValue("padding-bottom", 100, 10);
		@media (max-width: $tablet) {
			max-width: rem(800);
			width: 100%;
			margin-top: rem(25);
		}
	}
	// .registration-home__title
	&__text {
		font-weight: 500;
		font-size: rem(25);
		line-height: math.div(30, 25);
		color: $mainColor;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
}

.form-portfolio {
	display: flex;
	flex-direction: column;
	// .form-portfolio__input
	&__input {
	}
	// .form-portfolio__info
	&__info {
		&:not(:last-child) {
			margin-bottom: rem(28);
		}
	}
	// .form-portfolio__buttons
	&__buttons {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		@media (max-width: $mobileSmall) {
			display: block;
		}
	}
	// .form-portfolio__button
	&__button {
		//max-width: rem(220);
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(2);
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}
	// .form-portfolio__item
	&__item {
		&:not(:last-child) {
			margin-bottom: rem(25);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(25);
		}
	}
	// .form-portfolio__aicon
	&__aicon {
	}
	// .form-portfolio__icon
	&__icon {
	}
	// .form-portfolio__location
	&__location {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		@media (max-width: $mobileSmall) {
			display: block;
		}
	}
	// .form-portfolio__label
	&__label {
	}
	// .form-portfolio__viewpass
	&__viewpass {
	}
	// .form-portfolio__checkbox
	&__checkbox {
		//margin-top: rem(25);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .form-portfolio__button-footer
	&__button-footer {
		width: 100%;
		box-shadow: rem(1) rem(1) rem(4) rgba(0, 0, 0, 0.25);
		border-radius: rem(10);
	}
}

//======================================================================================================================================================

//====================================================================================================
