//========================================================================================================================================================
.page {
	background: url("@img/reperat.jpg");
	// .page__master
	&__master {
	}
}

.master {
	// .master__container
	&__container {
		padding: rem(160) rem(15) rem(30) rem(15);
	}
	// .master__body
	&__body {
		display: flex;
		column-gap: rem(40);
	}
	// .master__about-master
	&__about-master {
		flex: 0 1 23.19%;
	}
	// .master__content
	&__content {
		flex: 0 1 74.21%;
	}
}

.about-master {
	// .about-master__image
	&__image {
		max-width: rem(400);
		width: 100%;
		margin-bottom: rem(10);
	}
	// .about-master__speciality
	&__speciality {
		text-align: center;
		font-weight: 500;
		font-size: rem(22);
		line-height: math.div(27, 22);
		color: $iconColor;
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
	}
	// .about-master__name
	&__name {
		text-align: center;
		font-weight: 900;
		font-size: rem(30);
		line-height: math.div(37, 30);
		color: #00020f;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .about-master__styles
	&__styles {
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .about-master__style
	&__style {
		display: inline-block;
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: #ffffff;
		background: $redColor;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		padding: rem(5) rem(10);
		margin-right: rem(6);
		margin-bottom: rem(10);
	}
	// .about-master__residence
	&__residence {
		font-weight: 500;
		font-size: rem(20);
		line-height: math.div(24, 20);
		color: #545454;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .about-master__work
	&__work {
		font-weight: 500;
		font-size: rem(20);
		line-height: math.div(24, 20);
		color: #545454;
		span {
			color: $redColor;
		}
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .about-master__text
	&__text {
		font-weight: 500;
		font-size: rem(18);
		line-height: math.div(22, 18);
		color: #00020f;
		text-align: justify;
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}
	// .about-master__button
	&__button {
		display: flex;
		max-width: rem(400);
		width: 100%;
		background: #369248;
		box-shadow: 0 rem(4) rem(4) rgba(54, 146, 72, 0.25);
		border-radius: rem(25);
		padding: rem(13) rem(72);
		align-items: center;
		position: relative;
		top: 0;
		transition: background-color 0.5s ease 0s;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		&:hover {
			background-color: #c72a2ac3;
			color: #ffffff;
		}
		&:active {
			top: rem(3);
			background-color: $redColor;
		}
	}
	// .about-master__icon
	&__icon {
		display: flex;
		flex: 0 0 rem(40);
		max-width: rem(40);
		height: rem(40);
		justify-content: center;
		align-items: center;
		color: #fff;
		margin-right: rem(9);
	}
	// .about-master__title
	&__title {
		font-weight: 500;
		font-size: rem(30);
		line-height: math.div(37, 30);
		color: #ffffff;
	}
	// .about-master__links
	&__links {
		display: flex;
		max-width: rem(400);
		width: 100%;
		justify-content: center;
	}
	// .about-master__icon
	&__icon-link {
		display: flex;
		flex: 0 0 rem(23);
		max-width: rem(23);
		height: rem(23);
		justify-content: center;
		align-items: center;
		color: #fff;
		margin-right: rem(4);
	}
	// .about-master__link
	&__link {
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(20, 16);
		color: #700000;
	}
}

.tab-master {
	// .tab-master__tabs
	&__tabs {
	}
	// .tab-master__navigation
	&__navigation {
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: rem(40);
		}
	}
	// .tab-master__title
	&__title {
		max-width: rem(426);
		width: 100%;
		font-weight: 900;
		font-size: rem(32);
		line-height: math.div(39, 32);
		color: #00020f;
		text-align: justify;
		padding: rem(22) rem(116);
		background-color: #ffffff;
		box-shadow: rem(4) rem(4) rem(8) rem(-2) rgba(0, 0, 0, 0.25);
		border-radius: rem(0);
		transition: all 0.5 ease;
		position: relative;
		top: 0;
		&:first-child {
			border-radius: rem(8) rem(0) rem(0) rem(8);
		}
		&:last-child {
			border-radius: rem(0) rem(8) rem(8) rem(0);
		}
		&:hover {
			color: $redColor;
		}
		&._tab-active {
			color: #ffffff;
			background-color: $redColor;
		}
		&:active {
			top: rem(3);
			color: #ffffff;
			background-color: $redColor;
		}
	}
	// .tab-master__content
	&__content {
	}
	// .tab-master__body
	&__body {
	}
}

.body-portfolio {
}
.item__image {
	width: rem(311);
	height: rem(346);
}

.content-tabs {
	// .content-tabs__body
	&__body {
	}
	// .content-tabs__box-content
	&__box-content {
	}
}

.body-tabs {
}

.box-styles {
	// .box-styles__gallery
	&__gallery {
	}
}

.box-gallery {
	// .box-gallery__row

	&__row {
	}

	// .box-gallery__style

	&__style {
	}

	// .box-gallery__item

	&__item {
	}
}

.item {
	// .item_big
	&_big {
	}
	// .item__image
	&__image {
	}
	// .item__name
	&__name {
	}
}

.body-price {
}

.password {
	// .password__title
	&__title {
	}
	// .password__form
	&__form {
	}
}

.title-setting {
}

.form-pass {
}

.form {
	// .form__input
	&__input {
	}
	// .form__items
	&__items {
	}
	// .form__item
	&__item {
	}
	// .form__aicon
	&__aicon {
	}
	// .form__icon
	&__icon {
		// .form__icon_user
		&_user {
		}
		// .form__icon_email1
		&_email1 {
		}
		// .form__icon_question
		&_question {
		}
	}
	// .form__label
	&__label {
	}
	// .form__viewpass
	&__viewpass {
	}
	// .form__button
	&__button {
		max-width: rem(1280);
		width: 100%;
		margin-top: rem(20);
	}
	// .form__info
	&__info {
	}
	// .form__textarea
	&__textarea {
	}
}

.input {
}
.icon {
}

.button {
	// .button_color
	&_color {
	}
	// .button_big
	&_big {
	}
}

.body-contact {
	max-width: rem(1280);
	width: 100%;
	// .body-contact__text
	&__text {
		font-size: rem(24);
		line-height: math.div(29, 24);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .body-contact__form
	&__form {
		&:not(:last-child) {
			margin-bottom: rem(35);
		}
	}
	// .body-contact__protection
	&__protection {
	}
	// .body-contact__title
	&__title {
		font-weight: 700;
		font-size: rem(32);
		line-height: math.div(39, 32);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}
	// .body-contact__info
	&__info {
		font-size: rem(20);
		line-height: math.div(24, 20);
		color: $headerColor;
		transition: color 0.5s ease;
		span {
			cursor: pointer;
			text-decoration: underline;
			&:hover {
				color: $redColor;
			}
		}
	}
}

.checkbox {
	// .checkbox__input
	&__input {
	}
	// .checkbox__label
	&__label {
	}
	// .checkbox__text
	&__text {
	}
}

//======================================================================================================================================================

//========================================================================================================================================================
