//========================================================================================================================================================

//========================================================================================================================================================

.support {
	background: url("@img/reperat.jpg");
	// .support__container
	&__container {
		padding: 0 rem(15);
		@include adaptiveValue("padding-top", 160, 220);
		@include adaptiveValue("padding-bottom", 94, 20);
	}
	// .support__body
	&__body {
		max-width: rem(1140);
		margin: 0 auto;
		background: url("@img/reperat.jpg");
		border-radius: rem(25);
		filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
		@include adaptiveValue("padding-left", 100, 15);
		@include adaptiveValue("padding-right", 100, 15);
		@include adaptiveValue("padding-top", 100, 30);
		@include adaptiveValue("padding-bottom", 222, 20);
	}
	// .support__content
	&__content {
		flex: 1;
		border-radius: rem(25);
		margin: 0 auto;
		margin-bottom: rem(20);
	}
}

.question {
	// .question__header
	&__header {
		max-width: rem(460);
		margin: 0 auto;
		text-align: center;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	// .question__title
	&__title {
	}
	// .question__text
	&__text {
	}
	// .question__form
	&__form {
	}
}

.form {
	// .form__info
	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include adaptiveValue("column-gap", 50, 20);
		@media (max-width: $mobile) {
			display: block;
			width: 100%;
		}
	}
	// .form__item
	&__item {
	}
	// .form__input
	&__input {
	}
	// .form__aicon
	&__aicon {
	}
	// .form__icon
	&__icon {
		// .form__icon_email1
		&_email1 {
		}
		// .form__icon_user
		&_user {
		}
		// .form__icon_question
		&_question {
		}
	}
	// .form__textarea
	&__textarea {
	}
	// .form__button
	&__button {
		margin-top: rem(20);
	}
}


.sel {
	margin-bottom: rem(50);
}
//========================================================================================================================================================
