//========================================================================================================================================================

//========================================================================================================================================================

.support {
	background: url("@img/repeat.jpg");
	// .support__container
	&__container {
		padding: 0 rem(15);
		padding-top: rem(140);
		@media (max-width:$tablet){
			padding-top: rem(120);
		}
		@media (max-width:$mobile){
			padding-top: rem(190);  
		}
		@media (max-width:$mobileSmall){
			padding-top: rem(220);  
		}
		@include adaptiveValue("padding-bottom", 94, 20);
	}
	&__box {
		max-width: rem(1140);
		margin: 0 auto;
		background: url("@img/repeat-form.jpg");
		border-radius: rem(25);
		filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.25));
		justify-content: center;
		padding: 0 rem(15);
		@include adaptiveValue("padding-top", 100, 30);
		@include adaptiveValue("padding-bottom", 94, 20);
	}
	// .support__body
	&__body {
		max-width: rem(940);
		margin: 0 auto;
		@include adaptiveValue("padding-bottom", 222, 20);
	}
	// .support__content
	&__content {
		border-radius: rem(25);
		margin: 0 auto;
		margin-bottom: rem(20);
	}
}

//==========================================
.question {
	// .question__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .question__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .question__info
	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: rem(25);
		@include adaptiveValue("column-gap", 50, 20);
		@media (max-width: $mobile) {
			display: block;
			width: 100%;
			margin-bottom: rem(25);
		}
	}
	// .question__input
	&__input {
	}
	// .question__aicon
	&__aicon {
		position: absolute;
		display: flex;
		align-items: start;
		top: 0;
		bottom: 0;
		right: 0.1rem;
		//cursor: pointer;
		color: #bdbdbd;
		transition: color 0.15s ease-in-out;
		&:hover {
			color: #212529;
		}
	}
	// .question__checkbox
	&__checkbox {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
	}
	// .question__button
	&__button {
		max-width: 100%;
	}
}
